<form  [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
  <div class="col-5">
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <div class="alert alert-danger" *ngIf="registerForm.get('password')?.errors != null && registerForm.get('password')?.touched">
      <p *ngIf="registerForm.get('password')?.errors?.['required']">First Name Required</p>
      <p *ngIf="registerForm.get('password')?.errors?.['max']">password Name MixLength 10</p>
      <p *ngIf="registerForm.get('password')?.errors?.['min']">password Name MinLength 3</p>
  </div>
  </div>
  <div class="col-5">
    <input type="password" class="form-control" placeholder="newPassword" formControlName="newPassword">
    <div class="alert alert-danger" *ngIf="registerForm.get('newPassword')?.errors != null && registerForm.get('newPassword')?.touched">
      <p *ngIf="registerForm.get('newPassword')?.errors?.['required']">First Name Required</p>
      <p *ngIf="registerForm.get('newPassword')?.errors?.['max']">newPassword Name MixLength 10</p>
      <p *ngIf="registerForm.get('newPassword')?.errors?.['min']">newPassword Name MinLength 3</p>
  </div>
  </div>
  <button type="submit" [disabled]="registerForm.invalid" class="btn">update password</button>

</form>
